<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="author" content="AnggieHutagalung" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>DIGIASIA BIOS</title>

<!--Stylesheet-->

<!--[if IE 7]>
<link rel="stylesheet" href="css/fontello-ie7.css"><![endif]-->

<link href="css/font.css" rel="stylesheet" type="text/css">
<link href="css/fontello.css" rel="stylesheet" type="text/css">
<link href="css/jquery-ui-1.8.23.custom.css" rel="stylesheet"  type="text/css"/>
<link href="css/base.css" rel="stylesheet" type="text/css">
<link href="css/skeleton.css" rel="stylesheet" type="text/css">
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/magnific-popup.css" rel="stylesheet"  />
<link href="css/flexslider.css" rel="stylesheet" />



<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<!--[if lt IE 8]>
<style>
/* For IE < 8 (trigger hasLayout) */
.clearfix {
    zoom:1;
}
</style>
<![endif]-->




</head>

<body>

	<!-- Preloader -->
	<div id="loader">
			<!-- Preloader inner -->
	  <div id="loaderInner">
	  	
		<!-- Loader bars -->
			<div class="loaderBars">
				<span class="bar1 bar"></span>
				<span class="bar2 bar"></span>
				<span class="bar3 bar"></span>
			</div>
			<!-- End loader bars -->
	
	  </div>
	<!-- End preloader inner -->
	</div>
	<!-- End preloader -->
	
	
<!--Wrapper-->
<div id="wrapper">
	
	
	
	
	<!--Header-->
		<header id="header" >

			<!--Main header-->
				<div class="mainHeader default">


					<!--Container-->
				<div class="container clearfix">
				<div class="three columns logoHolder">
					<!--Logo-->
					<div class="logo">
					<img src="images/logoD.png" alt=""/></a>
					</div>
					<!--End logo-->
				</div>


					<div class="thirteen columns tRight">
						
							<a href="#" class="mobileBtn" ><i class="icon-menu"></i></a>
							<!--Navigation-->
								<nav class="mainNav" >
								

								<ul>
									<li><a class="scroll" href="#about">About us</a></li>
									<li><a class="scroll" href="#team">The Team</a></li>
									<li><a class="scroll" href="#clients">Key Assets</a></li>
									<li><a class="scroll" href="#contact">Contact</a></li>

								</ul>

								</nav>
							<!--End navigation-->

					</div>
				<!--End container-->

				</div>
			<!--End main header-->
				</div>

		</header>
		<!--End header-->
	
	
	
	
	
	
	
	<!--Main slider holder-->
	<div class="mainSliderHolder">
		
		<!--Main slider-->
		<div class="mainSlider flexslider">
			
			
			<!--Slides-->
			<ul class="slides">
				<li class="overlay"><img src="images/sliderImages/slide1.jpg" class="slide"  alt=""/></li>
				<li class="overlay"><img src="images/sliderImages/slide2.jpg" class="slide" alt=""/></li>
				<li class="overlay"><img src="images/sliderImages/slide3.jpg" class="slide" alt=""/></li>
				<li class="overlay"><img src="images/sliderImages/slide4.jpg" class="slide" alt=""/></li>
			</ul>
			<!--End slides-->
			
			
			<!--Slides inner-->
				<div class="slidesInner">
						<img src="images/logoL.png" alt=""/>
						<p>A Global Company with Local Insight & Strategy
						<p>    </span> </p>
				
				
				
				<!--Socials slider-->
					<ul class="socialsSlider">

						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-instagram"></i></a></li>

					</ul>
				<!--End socials slider-->

				</div>
				
				<!--End slides inner-->
				

		</div>
		<!--End main slider-->
	</div>
	<!--End main slider holder-->
	
	
	
	
	<!--About section-->
		<section id="about" class="tCenter">
			
			
			
			
			<!--About intro-->
			<div class="aboutIntro bgGreyDark  ofsTop margLBottom">
				
				
					<!--Container-->
					<div class="container clearfix">
				
				<!--Title-->
					<div class="title light ofsBMedium">
						<h1>OUR MISSION<span class="plus"> </span></h1>
					</div>
				<!--End title-->
				
				<!--About intro content-->
				<div class="aboutIntroContent">
					<h1>To be an active part of the digital revolution of <span>Indonesia</span></h1>
					<p>By reforming the socio-economic dynamics and empowering
					     a technology-savvy society through digital financial services.</p>
				
				<!--Title-->
					<div class="title light ofsBMedium">
						<h1>OUR STRATEGY<span class="plus"> </span></h1>
					</div>
				<!--End title-->
				
				<!--About intro content-->
				<div class="aboutIntroContent">
					<h1>To acquire <span>operationally &amp; financially</span> consolidate digital and traditional assets</h1>
					<p> with the aim to redefine the ecosystem and day-to-day behaviors of customers.</p>	     
					
						<p>  </p>
						
				</div>
				<!--End about intro content-->
				
				</div>
				<!--End container-->
				
			</div>
			<!--End about intro-->
			
			
			
			
			
			
			<!--Team -->
			<section id="team" class="tCenter">
			<div class="team bgGrey ofsTop">
				
					<!--Title-->
						<div class="title dark ofsBottom">
							<h1>DIGIASIA TEAM<span class="plus">+</span></h1>
							
						</div>
					<!--End title-->
					
					
					<!--Team holder-->
					<div class="teamHolder">
						
							<!--Container-->
							<div class="container clearfix">
								
								
								<!--Team single-->
								<div class="teamSingle one-third column ">
									
									<!--Team image-->
									<div class="tImg">
									<img src="images/teamImages/t1.jpg" alt="">
									<div class="polyLeft"></div>
									<div class="polyRight"></div>	
									</div>
									<!--End team image-->
									
									<div class="tDetails">
										<h3>Alexander Rusli<span>Founder </span></h3>
										<p>President Director and Chief Executive Officer in Indosat Ooredoo and Managing Director of Northstar Pacific (PE fund)

                                        <p>Expert Consultant to the Minister of Communication and Information Technology</p>

                                        <p>Commissioner of numerous State-owned companies and large companies.</p>
										

									</ul>
									</div>
									
								</div>
								<!--End team single-->
								
								
								
								
							<!--Team single-->
							<div class="teamSingle one-third column ">
								
								<!--Team image-->
								<div class="tImg">
								<img src="images/teamImages/t2.jpg" alt="">
								<div class="polyLeft"></div>
								<div class="polyRight"></div>	
								</div>
								<!--End team image-->
								
								<div class="tDetails">
									<h3>Prashant Gokarn<span>Co-Founder </span></h3>
									<p>Chief Strategy and Digital Services offices at Indosat Ooredoo

                                    <p>Set up and ran the 3G operations of a leading telecom operators in India – 11,000 sites executed within 100 days of receiving spectrum</p>

                                    <p>Media and telecommunications specialist and financial investment advisor to the industry</p>
								

								</ul>
								</div>
								
							</div>
							<!--End team single-->
							
							
							
							<!--Team single-->
							<div class="teamSingle one-third column ">
								
								<!--Team image-->
								<div class="tImg">
								<img src="images/teamImages/t3.jpg" alt="">
								<div class="polyLeft"></div>
								<div class="polyRight"></div>	
								</div>
								<!--End team image-->
								
								<div class="tDetails">
									<h3>Suresh Mahadevan <span>Chief Financial Officer</span></h3>
									<p>Managing Director and Head of Asia Telecoms Research at UBS Investment Bank</p>

                                    <p>Over 20 years of experience in leading financial institutions</p>

                                    <p>Avid business angel, investing in 15+ early-stage technology companies, and a mentor of entrepreneurs</p>
								
                                    
								</ul>
								</div>
			                    
							</div>
							<!--End team single-->
						
							

							<!--Team single-->
								<div class="teamSingle one-third column ">
									
									<!--Team image-->
									<div class="tImg">
									<img src="images/teamImages/t4.jpg" alt="">
									<div class="polyLeft"></div>
									<div class="polyRight"></div>	
									</div>
									<!--End team image-->
									
									<div class="tDetails">
										<h3>Hermansjah Haryono <span>  </span></h3>
										<p>Commercial Director at the Digicel Pacific Hub Region</p>
                                        <p>Starting up Hutchison 3 Indonesia & over 17 years experience in telecommunication industry</p>
                                        
									</ul>
									</div>
									
								</div>
								<!--End team single-->
								
								</div>
					<!--End team holder -->	
								
								
						<!--Team holder-->
					<div class="teamHolder">
					    
					        	<!--Container-->
							<div class="container clearfix">
					    
					    			
							<!--Team single-->
							<div class="teamSingle one-third column ">
								
								<!--Team image-->
								<div class="tImg">
								<img src="images/teamImages/t5.jpg" alt="">
								<div class="polyLeft"></div>
								<div class="polyRight"></div>	
								</div>
								<!--End team image-->
								
								<div class="tDetails">
									<h3>Willy Tan<span>  </span></h3>
									<p>8+ years of experience in strategy with Roland Berger and Booz&Co
                                    <p>Specializing in wireless telecommunications, technology and fintech</p>
                                

								</ul>
								</div>
								
							</div>
							<!--End team single-->
							
							
							
							<!--Team single-->
							<div class="teamSingle one-third column ">
								
								<!--Team image-->
								<div class="tImg">
								<img src="images/teamImages/t6.jpg" alt="">
								<div class="polyLeft"></div>
								<div class="polyRight"></div>	
								</div>
								<!--End team image-->
								
								<div class="tDetails">
									<h3>Subir Lohani<span> </span></h3>
									<p> CEO of Rockets internet ventures in Indonesia and the Philippines </p>
                                    <p> Previous AVP at Barclays Capital Asia focusing on leveraged finance and debt capital markets  </p>
									<div> </div>
									
                                
								</ul>
								</div>
								
							</div>
							<!--End team single-->
								
								
							<!--Team single-->
							<div class="teamSingle one-third column ">
									
									<!--Team image-->
									<div class="tImg">
									<img src="images/teamImages/t7.jpg" alt="">
									<div class="polyLeft"></div>
									<div class="polyRight"></div>	
									</div>
									<!--End team image-->
									
									<div class="tDetails">
										<h3>David Santoso <span>  </span></h3>
										<p>CFO of Express Group, Top-3 in transportation services</p>

                                        <p>20+ years experience leading managerial positions</p>

                                        <p>    </p>
                                        <p>    </p>

									</ul>
									</div>
									
								</div>
								<!--End team single-->
								
								
								
							<!--Team single-->
							<div class="teamSingle one-third column ">
								
								<!--Team image-->
								<div class="tImg">
								<img src="images/teamImages/t8.jpg" alt="">
								<div class="polyLeft"></div>
								<div class="polyRight"></div>	
								</div>
								<!--End team image-->
								
								<div class="tDetails">
									<h3>Adelheid Helena Bokau <span>  </span></h3>
									<p>8+ years experience in leading commercial positions in AirAsia group

                                    <p>Extensive retail and banking past experience</p>

								</ul>
								</div>
								
							</div>
							<!--End team single-->
							
							</div>
							<!--End container-->
							
						</div>
					<!--End team holder -->
						
						<!--Container-->
							<div class="container clearfix">	
							
					<!--Title-->
						<div class="title dark ofsTop" style="padding-bottom: 30px;">
							<h1>DigiAsia-Board Member &amp; Senior Advisors <span class="plus"> </span></h1>
						</div>
					<!--End title-->
					
					            <!--Team holder-->
					<div class="teamHolder">
						
							<!--Container-->
							<div class="container clearfix">
								
								
								<!--Team single-->
								<div class="teamSingle one-third column ">
									
									<!--Team image-->
									<div class="tImg">
									<img src="images/teamImages/t9.jpg" alt="">
									<div class="polyLeft"></div>
									<div class="polyRight"></div>	
									</div>
									<!--End team image-->
									
									<div class="tDetails">
										<h3>Fei Zou<span>Board Member </span></h3>
										<p> Dr. Fei Zou is the President and CEO of Synergie Capital, an investment and advisory firm focus exclusively on global cross boarder investments.

                                        <p>Dr. Zou was a Managing Director and a founding member of the Special Investment Department at the China Investment Corporation (CIC)</p>

                                        <p> Dr. Zou serves as a member of the board of directors at BYD Company Ltd (China/ HK), China Modern Dairy Holdings Ltd (China/ HK), Delta Dunia Makmur TBK PT (Indonesia), and served as an observer of the board of Noble Group Ltd (Singapore). </p>
										

									</ul>
									</div>
									
								</div>
								<!--End team single-->
								
							<!--Team single-->
								<div class="teamSingle one-third column ">
									
									<!--Team image-->
									<div class="tImg">
									<img src="images/teamImages/t10.jpg" alt="">
									<div class="polyLeft"></div>
									<div class="polyRight"></div>	
									</div>
									<!--End team image-->
									
									<div class="tDetails">
										<h3>Heri Sunaryadi<span>Board Member</span></h3>
										<p>The founder and main commissioner of PayPro – one of the operating companies within DigiAsia on e-money business</p>

                                        <p>40+ years experience in finance and telco</p>

                                        <p>He served as CFO of PT Telekomunikasi Indonesia (Persero) Tbk from 2014 to 2016, and held a role as CEO of Bahana group, the president director of KSEI and President Director of PT Bahana Securities</p>

                                        <p>Heri also serves as commissioner for numerous state-owned companies and large corporations in Indonesia and well-connected with key leaders within Indonesian government institutions</p>
										

									</ul>
									</div>
									
								</div>
								<!--End team single-->
							
							<!--Team single-->
								<div class="teamSingle one-third column ">
									
									<!--Team image-->
									<div class="tImg">
									<img src="images/teamImages/t11.jpg" alt="">
									<div class="polyLeft"></div>
									<div class="polyRight"></div>	
									</div>
									<!--End team image-->
									
									<div class="tDetails">
										<h3>Masahiko Yabuki<span>Senior Advisor </span></h3>
										<p> Masahiko Yabuki is President and CEO of CloudMinds Japan K.K. and is responsible for business development in Asia

                                        <p>Prior to his current position, Masahiko served as Senior Vice President of Strategic Business Development for the Office of the CEO at SoftBank, responsibilities to obtain mobile operator license and spectrum from the Japanese Government (2004-15) </p>

                                        <p> Masahiko was part of the Vodafone Japan acquisition, and became part of the management team for SoftBank Mobile, where he led new business such as with Disney Mobile </p>
									

									</ul>
									</div>
									
								</div>
								<!--End team single-->
							
							<!--Team single-->
								<div class="teamSingle one-third column ">
									
									<!--Team image-->
									<div class="tImg">
									<img src="images/teamImages/t12.jpg" alt="">
									<div class="polyLeft"></div>
									<div class="polyRight"></div>	
									</div>
									<!--End team image-->
									
									<div class="tDetails">
										<h3>Raymond Choong<span>Board Member </span></h3>
										<p>  Raymond Choong is a technology Lender, a digital transformation expert and advisor to technology startups with over 26 years of international experience</p>

                                        <p>He has been working with Ooredoo Group (OG), a leading Middle Eastern telecom group, and also with Singapore Technologies Telemedia (STT), a Temasek-linked company, for the last 16 years </p>

                                        <p>He is currently a mentor at SiTF’s123 JumpStart, UOB’s Finlab (Fintech accelerator program), the TNB Accelerator, Airmaker (both IoT-focused, cross-border accelerator program) and PSA Unboxed (a VC arm of PSA Intl). </p>
									

									</ul>
									</div>
									
								</div>
								<!--End team single-->	
					
					</div>
					<!--End team holder -->
					
						</div>
							<!--End container-->
				
			</div>
			<!--End team -->
			
			
			
			
				<!--Clients-->
				<section id="clients" class="tCenter">
				<div class="clients  ofsTMedium ofsBMedium overlay tCenter ">

								<!--Container-->
								<div class="container clearfix">
									
							
							<!--Title-->
						<div class="title dark ofsBottom">
							<h1>OUR IN OPERATION PRODUCTS<span class="plus">+</span></h1>
							
						</div>
					<!--End title-->
									
									
									<!--End clients holder-->
									<div class="clientHolder ofsBMedium">


									<!--Clients inner-->
									<div class="clientsInner clearfix ">
										<div class="three columns noGap ">
											<div class="logoSingle">
												<a href="http://paypro.id/" target="_blank"><img alt="" src="images/logo/l1.png"></a>
											</div>
										</div>

										<div class="three columns noGap">
											<div class="logoSingle">
												<a href="http://kreditpro.id/" target="_blank"><img alt="" src="images/logo/l2.png"></a>
											</div>
										</div>

										<div class="three columns noGap">
											<div class="logoSingle">
												<a href="http://remitpro.id/" target="_blank"><img alt="" src="images/logo/l3.png"></a>
											</div>
										</div>
										
										<div class="three columns noGap">
											<div class="logoSingle">
												<a href="#"><img alt="" src="images/logo/l4.png"></a>
											</div>
										</div>


									</div>
									<!--End clients inner-->

									</div>
									<!--End clients holder-->

								</div>
								<!--End container-->	
							</div>
						<!--End clients-->
						
	</section>
	<!--End about section-->
						
						<!--Testimonials-->
						<div class="testimonials2 overlay tCenter ofsTop">

						<!--Container-->
						<div class="container clearfix">

							<div class="sixteen columns">
								
								<!--Testi icon-->
								<div class="testiIco ofsInBottom ofsTSmall">
									
									<div class="testiIcoInner ">
									<i class="icon-quote-right"></i>
									</div>
								</div>
								<!--End testi icon-->


						<!--Testimonials slider-->
								<div class="testiSlider slider clearfix flexslider">


									<ul class="slides">
									<li>
										<blockquote>E-money company that provides payment, transfer and personalized financial services to users.</blockquote>
									
									 </li>
									<li>

										<blockquote>Currently has 8 million registered users and record 5 million transactions per month </blockquote>
									
									</li>	


									</ul>	

										</div>
								<!--End testimonials slider-->

									</div>

							</div>
							<!--End container-->

							</div>
							<!--End testimonials-->

	
	<!--Services section-->
	<section id="services" class="tCenter">
							
							
								
                            	<!--Services holder-->
								<div class="servHolder clearfix ofsTop bgGrey ">



									<!--Container-->
									<div class="container clearfix  servHolderInner ">
										
										
											<div class="shot tLeft nine columns " style="margin-bottom: 0px;padding-bottom: 50px;">
												<img src="images/mockupImages/PayPro.jpg" alt="">
											</div>


									<div class="content tLeft seven columns">
									    
										<h2>PayPro</h2>
											<p><p style="padding-bottom: 10px;">PayPro is an electronic wallet with your mobile phone number as your account number.
										<p><p style="padding-bottom: 10px;">PayPro can be use for mobile recharge, monthly payment bills, BPJS payment, money transfer and withdrawal.</p>
												 
                                    </div>
						            <!--End container-->
					
								</div>
								<!--End services holder-->


                            <!--Testimonials-->
						<div class="testimonials3 overlay tCenter ofsTop">


						<!--Container-->
						<div class="container clearfix">


							<div class="sixteen columns">
								
								<!--Testi icon-->
								<div class="testiIco ofsInBottom ofsTSmall">
									
									<div class="testiIcoInner ">
									<i class="icon-quote-right"></i>
									</div>
								</div>
								<!--End testi icon-->


						<!--Testimonials slider-->
								<div class="testiSlider slider clearfix flexslider">


									<ul class="slides">
									<li>
										<blockquote>P2P lending company that offer a lending platform that matches lenders with borrowers.</blockquote>
									
									 </li>
									<li>

										<blockquote>Primarily target unbanked and underserved MSME and consumer</blockquote>
									
									</li>	


									</ul>	

										</div>
								<!--End testimonials slider-->

									</div>

							</div>
							<!--End container-->

							</div>
							<!--End testimonials-->

	<!--Services section-->
	<section id="services" class="tCenter">
					
                            	<!--Services holder-->
								<div class="servHolder clearfix ofsTop bgGrey ">


									<!--Container-->
									<div class="container clearfix  servHolderInner">
										
										
											<div class="shot tLeft nine columns  " style="padding-bottom: 50px;">
												<img src="images/mockupImages/KreditPro.jpg" alt="">
											</div>


									<div class="content tLeft seven columns ">
									    
										<h2>KreditPro</h2>
											<p><p style="padding-bottom: 10px;">KreditPro is a peer to peer lending service with marketplace that combine the lender and borrower </p>

                                            <p><p style="padding-bottom: 10px;">With peer to peer lending, KreditPro believe that it can help the Small and Medium Enterprise to grow.</p>
                                    </div>
						            <!--End container-->
			                    		                
								</div>
								<!--End services holder-->

                        <!--Testimonials-->
						<div class="testimonials4 overlay tCenter ofsTop">

						<!--Container-->
						<div class="container clearfix">


							<div class="sixteen columns">
								
								<!--Testi icon-->
								<div class="testiIco ofsInBottom ofsTSmall">
									
									<div class="testiIcoInner ">
									<i class="icon-quote-right"></i>
									</div>
								</div>
								<!--End testi icon-->


						<!--Testimonials slider-->
								<div class="testiSlider slider clearfix flexslider">


									<ul class="slides">
									<li>
										<blockquote>Remittance companies that offer domestic and international money transfer to Indonesian</blockquote>
									
									 </li>
									<li>

										<blockquote>Leverage on wide network of modern channel partners (10k+ branches) to serve customer nationally</blockquote>
									
									</li>	


									</ul>	

										</div>
								<!--End testimonials slider-->

									</div>

							</div>
							<!--End container-->

							</div>
							<!--End testimonials-->

	<!--Services section-->
	<section id="services" class="tCenter">
							
	
                            	<!--Services holder-->
								<div class="servHolder clearfix ofsTop bgGrey ">



									<!--Container-->
									<div class="container clearfix  servHolderInner">
										
										
											<div class="shot tLeft nine columns " style="margin-bottom: 0px;padding-bottom: 50px;">
												<img src="images/mockupImages/RemitPro.jpg" alt="">
											</div>


									<div class="content tLeft seven columns">
									    
										<h2>RemitPro</h2>
											<p><p style="padding-bottom: 10px;">RemitPro is a money transfer service. RemitPro makes money transfer and withdrawal much easier.</p>

                                            <p><p style="padding-bottom: 10px;">For more convenience, transfer and withdrawal using RemitPro can be done in the RemitPro outlets partner.</p>

                                            <p><p style="padding-bottom: 10px;">In the future RemitPro can serve money transfer and withdrawal from Indonesia to outside Indonesia and vice versa</p>
                                    </div>
						            <!--End container-->
					
								</div>
								<!--End services holder-->
								
								<!--Testimonials-->
						<div class="testimonials5 overlay tCenter ofsTop">

						<!--Container-->
						<div class="container clearfix">


							<div class="sixteen columns">
								
								<!--Testi icon-->
								<div class="testiIco ofsInBottom ofsTSmall">
									
									<div class="testiIcoInner ">
									<i class="icon-quote-right"></i>
									</div>
								</div>
								<!--End testi icon-->
								
								<!--Testimonials slider-->
								<div class="testiSlider slider clearfix flexslider">


									<ul class="slides">
									<li>
										<blockquote>PayPro Asia Wallet helps customer to make transaction and withdrawal with their PayPro accounts accross Asia </blockquote>
									
									 </li>
									<li>

										<blockquote>Digital wallet to follow your travelling lifestyle, with less hassle more benefits. </blockquote>
									
									</li>	


									</ul>	

										</div>
								<!--End testimonials slider-->

									</div>

							</div>
							<!--End container-->

							</div>
							<!--End testimonials-->

	<!--Services section-->
	<section id="services" class="tCenter">
							
	
                            	<!--Services holder-->
								<div class="servHolder clearfix ofsTop bgGrey ">



									<!--Container-->
									<div class="container clearfix  servHolderInner">
										
										
											<div class="shot tLeft nine columns " style="margin-bottom: 0px;padding-bottom: 50px;">
												<img src="images/mockupImages/payproasiawallet.jpg" alt="">
											</div>


									<div class="content tLeft seven columns">
									    
										<h2>PayPro Asia Wallet</h2>
											<p><p style="padding-bottom: 10px;">PayPro Asia Wallet is an integrated e-money accross Asia. PayPro Asia Wallet makes transaction and withdrawal abroad much easier.</p>

                                            <p><p style="padding-bottom: 10px;">For more convenience, PayPro Asia Wallet registered on the same account with PayPro.</p>

                                            <p><p style="padding-bottom: 10px;">With PayPro Asia Wallet you can make transaction and withdrawal within Asia</p>
                                    </div>
						            <!--End container-->
					
								</div>
								<!--End services holder-->
					
				<!--Contact section-->
				<section id="contact" class="tCenter ">


										<!--Footer-->	
										<footer id="footer" class="footer tCenter">



											<!--Footer top-->
											<div class="footerTop ofsInTop ofsInBottom">
													<!--Container-->
													<div class="container clearfix">

															<!--Footer top inner-->
															<div class="ftInner">

                                	<!--Title-->
									<div class="title light tCenter padding-bottom: 30px">
										<h1>get in touch with us<span class="plus"> </span></h1>
									</div>
								<!--End title-->


														<div class="info five columns">
														<span><i class="icon-location"></i>(SINGAPORE) Raffles Place, #28-02, One Raffles Place, Singapore 048616</span>	
														</div>
														
														
														<div class="info five columns">
															
															<div class="mail">
															<i class="icon-paper-plane"></i>
															<a href="mailto:inquiry@digiasia.asia">inquiry@digiasia.asia</a>
															<a href="mailto:investor.relation@digiasia.asia">investor.relation@digiasia.asia</a>
															</div>
														</div>
														
														
														<div class="info five columns">
															<span><i class="icon-location"></i>(INDONESIA) PRUDENTIAL CENTRE, Jl.Kasablanka Raya Kav 88, Unit 5, F-G</span>	
														</div>
	

															</div>
															<!--End footer top inner-->

													</div>
														<!--End container-->

											</div>
											<!--End footer top-->

                    <!--Contact holder -->
						<div class="contactHolder  ofsTop  ">
						    
	                    <!--Map-->
								<div id="map"></div>
						<!--End map-->
						
								
					</div>
					<!--End contact holder -->
					
													
				</section>
				<!--End contact section-->


										<!--Footer bottom-->
										<div class="footerBottom  ofsBMedium">
												<!--Container-->
												<div class="container clearfix">

														<!--Footer bottom inner-->
														<div class="fbInner">
															
															<div class="top">
																<a class="scroll" href="#wrapper"><i class=" icon-angle-double-up"></i></a>
															</div>

														<p>&copy; 2018 <span class="brand">DIGIASIA</span> All Rights Reserved.</p>
														
                                                    
														</div>
														<!--End footer bottom inner-->
                                                    
                                                    
										        </div>
											        <!--End container-->
										</div>
											<!--End footer bottom-->

									</footer>
								<!--End footer-->
				
			
</div>
<!--End wrapper-->

	
<!--Javascript-->
<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="js/jquery-migrate-1.2.1.js" type="text/javascript"></script>
<script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="js/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="js/jquery.smooth-scroll.js" type="text/javascript"></script>
<script src="js/jquery.quicksand.js" type="text/javascript"></script>
<script src="js/modernizr.custom.js" type="text/javascript"></script>
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
<script src="js/jquery.tweet.js" type="text/javascript"></script>
<script src="js/spectragram.min.js" type="text/javascript"></script>
<script src="js/jquery.parallax-1.1.3.js" type="text/javascript"></script>
<script src="js/jquery.timer.js" type="text/javascript"></script>
<script src="js/jquery.appear.min.js" type="text/javascript"></script>
<script src="js/Placeholders.min.js" type="text/javascript"></script>
<script src="js/jquery-ui-1.8.23.custom.min.js" type="text/javascript"></script>
<script src="js/script.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="js/gmaps.js" type="text/javascript"></script>


<script>
(function($) {
  "use strict";


//---------------------------------- Google map location -----------------------------------------//

var styles = [
		        {
		            stylers: [
		                { saturation: -100 }

		            ]
		        },{
		            featureType: 'road',
		            elementType: 'geometry',
		            stylers: [
		                { hue: "#74b7b0" },
		                { visibility: 'simplified' }
		            ]
		        },{
		            featureType: 'road',
		            elementType: 'labels',
		            stylers: [
		                { visibility: 'on' }
		            ]
		        }
		      ],

		       lat = -6.2235757,
		       lng = 106.8426847,

		      customMap = new google.maps.StyledMapType(styles,
		          {name: 'Styled Map'}),


		      mapOptions = {
		          zoom: 14,
				scrollwheel: false,
		          center: new google.maps.LatLng( lat, lng ),
		          mapTypeControlOptions: {
		              mapTypeIds: [google.maps.MapTypeId.ROADMAP]
		          }
		      },
		      map = new google.maps.Map(document.getElementById('map'), mapOptions),
		      myLatlng = new google.maps.LatLng( lat, lng ),
		
		
				
		
		      marker = new google.maps.Marker({
		        position: myLatlng,
		        map: map,
				icon: {
				            url: 'images/marker.png',
				            scaledSize: new google.maps.Size(36, 56)
				        }
		      });

		      map.mapTypes.set('map_style', customMap);
		      map.setMapTypeId('map_style');

})(jQuery);

//---------------------------------- End google map location -----------------------------------------//

</script>

<!-- Google analytics -->


<!-- End google analytics -->


</body>
</html>